root = true

[*]                             # para qualquer arquivo, poderia colocar [*.js] mas não é o caso
indent_style = tabs             # space | tabs
indent_size = 2                 # 2 | 4
end_of_line = lf                # definir o fim de linha (lf padrão unix)
charset = utf-8                 # charset
trim_trailing_whitespace = true # apagar todo espaço vazio não utilizado
insert_final_newline = true     # inserir uma linha no final do arquivo
